{% extends 'base.html.twig' %}
  
{% block title %}Movie index{% endblock %}
  
{% block body %}
   
    <div class="container">
        <h2 class="text-center mt-5 mb-3">Movie Manager</h2>
        <div class="card">
            <div class="card-header">
                
                    <a class="btn btn-outline-primary" href="{{ path('app_movie_new') }}"> 
                        Create New Movie 
                    </a>
               
            </div>
            <div class="card-body">
                <table class="table table-bordered">
                    <tr>
                        <th>Id</th>
                        <th>Title</th>
                        <th>Gencode</th>
                        <th>Media</th>
                        <th>Support</th>
                        <th>Box</th>
                        <th>Edition</th>
                        <th>Date Created</th>
                        <th>Date Updated</th>
                        <th width="240px">Action</th>
                    </tr>
                    {% for movie in movies %}
                        <tr>
                            <td>{{ movie.id }}</td>
                            <td>{{ movie.title }}</td>
                            <td>{{ movie.gencode }}</td>
                            <td>{{ movie.media.label }}</td>
                            <td>{{ movie.support.label }}</td>
                            <td>{{ movie.box.label }}</td>
                            <td>{{ movie.edition.label }}</td>

                            <td>{{ movie.createdAt ? movie.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                            <td>{{ movie.updatedAt ? movie.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                            <td>
                                <form method="post" action="{{ path('app_movie_delete', {'id': movie.id}) }}" onsubmit="return confirm('Are you sure you want to delete this movie?');">
                                        <a
                                            class="btn btn-outline-info"
                                            href="{{ path('app_movie_show', {'id': movie.id}) }}">
                                            Show
                                        </a>
                                    
                                        <a
                                            class="btn btn-outline-success"
                                            href="{{ path('app_movie_edit', {'id': movie.id}) }}">
                                            Edit
                                        </a>
                                        {% if is_granted('ROLE_ADMIN') %}
                                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ movie.id) }}">
                                            <button class="btn btn-outline-danger">Delete</button>
                                        {% endif %}
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
  
{% endblock %}
