{% extends 'base.html.twig' %}
  
{% block title %}Movie{% endblock %}
  
{% block body %}
    <div class="container">
        <h2 class="text-center mt-5 mb-3">Show Movie</h2>
        <div class="card">
            <div class="card-header">
                <a class="btn btn-outline-info float-right" href="{{ path('app_movie_index') }}"> 
                    View All Movies
                </a>
            </div>
            <div class="card-body">
                <b class="text-muted">Id:</b>
                <p>{{ movie.id }}</p>
                <b class="text-muted">Title:</b>
                <p>{{ movie.title }}</p>
                <b class="text-muted">Gencode:</b>
                <p>{{ movie.gencode }}</p>

                <b class="text-muted">Media:</b>
                <p>{{ movie.media.label }}</p>

                <b class="text-muted">Support:</b>
                <p>{{movie.support.label }}</p>

                <b class="text-muted">Box:</b>
                <p>{{ movie.box.label }}</p>

                <b class="text-muted">Edition:</b>
                <p>{{movie.edition.label }}</p>

                <b class="text-muted">Oeuvrelink:</b>
                <p>{{ movie.oeuvrelink }}</p>

                <b class="text-muted">Objectlink:</b>
                <p>{{movie.objectlink }}</p>

                <b class="text-muted">Date Created:</b>
                <p>{{ movie.createdAt ? movie.createdAt|date('Y-m-d H:i:s') : '' }}</p>
                <b class="text-muted">Date Updated:</b>
                <p>{{ movie.updatedAt ? movie.updatedAt|date('Y-m-d H:i:s') : '' }}</p>
            </div>
        </div>
    </div>
{% endblock %}
