{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    

    {{ form_errors(registrationForm) }}

    <div class="container">
        <h2 class="text-center mt-5 mb-3">Register</h2>
        <div class="card">
            {{ form_start(registrationForm) }}
    

                {{ form_row(registrationForm.email) }}
                {{ form_row(registrationForm.plainPassword, {
                    label: 'Password'
                }) }}
                {{ form_row(registrationForm.agreeTerms) }}

                <button type="submit" class="btn btn-outline-success">Register</button>
            
        
            {{ form_end(registrationForm) }}

       </div>
    </div>

{% endblock %}
