{% extends 'base.html.twig' %}
  
{% block title %}Oeuvrelink index{% endblock %}
  
{% block body %}
    <div class="container">
        <h2 class="text-center mt-5 mb-3">Oeuvrelink Manager</h2>
        <div class="card">
            <div class="card-header">
                <a class="btn btn-outline-primary" href="{{ path('app_oeuvrelink_new') }}"> 
                    Create New Oeuvrelink 
                </a>
            </div>
            <div class="card-body">
                <table class="table table-bordered">
                    <tr>
                        <th>Link</th>
                        <th>Date Created</th>
                        <th>Date Updated</th>
                        <th width="240px">Action</th>
                    </tr>
                    {% for oeuvrelink in oeuvrelinks %}
                    <tr>
                        <td>{{ oeuvrelink.link }}</td>
                        <td>{{ oeuvrelink.createdAt ? oeuvrelink.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                        <td>{{ oeuvrelink.updatedAt ? oeuvrelink.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                        <td>
                            <form method="post" action="{{ path('app_oeuvrelink_delete', {'id': oeuvrelink.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                                <a
                                    class="btn btn-outline-info"
                                    href="{{ path('app_oeuvrelink_show', {'id': oeuvrelink.id}) }}">
                                    Show
                                </a>
                                <a
                                    class="btn btn-outline-success"
                                    href="{{ path('app_oeuvrelink_edit', {'id': oeuvrelink.id}) }}">
                                    Edit
                                </a>
  
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ oeuvrelink.id) }}">
                                <button class="btn btn-outline-danger">Delete</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
  
{% endblock %}
