{% extends 'base.html.twig' %}
  
{% block title %}Item list{% endblock %}
  
{% block body %}
    <div class="container">
        <h2 class="text-center mt-5 mb-3">Search Item</h2>
        <div class="card">
            <div class="card-header">

            </div>
            <div class="card-body">
                <h1>Search Results</h1>
                <ul class="list-group">
                    {% for item in results %}
                        <li class="list-group-item">>
                            <form method="post" action="">
                                <input type="text" name="userid" id="userid_{{ userid }}" value={{ userid }}>
                                <input type="radio" name="selectedData" id="data_{{ item.id }}" value={{ item.id }}>
                                <label for="data_{{ item.id }}">
                                    {{ item.id }} : {{ item.title }} | {{item.media.label}} | {{item.support.label}}
                                 </label>
                                <button type="submit" class="btn btn-primary">Select this film</button>
                            </form>

                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
  
{% endblock %}