{% extends 'base.html.twig' %}
  
{% block title %}Movie list{% endblock %}
  
{% block body %}
    <div class="container">
        <h2 class="text-center mt-5 mb-3">Search Item</h2>
        <div class="card">
            <div class="card-header">

            </div>
            <div class="card-body">
                <h1>Search Results</h1>
                {% if results|length > 0 %}
                <ul class="list-group">
                    {% for movie in results %}
                        <li class="list-group-movie">
                            <form method="post" action="{{ path('add_movie_item', {'id': movie.id}) }}">
                                <input type="hidden" name="movieid" id="movieid_{{ movie.id }}" value={{ movie.id }}>
                                <input type="radio" name="selectedData" id="data_{{ movie.id }}" value={{ movie.id }}>
                                <label for="data_{{ movie.id }}">
                                    {{ movie.id }} : {{ movie.title }} | {{movie.media.label}} | {{movie.support.label}}

                                 </label>
                                <button type="submit" class="btn btn-primary">Select this film</button>
                            </form>

                        </li>
                    {% endfor %}
                </ul>
                {% else %}
                    No results<br/><br/>
                    <a href="/item">Search another item</a>
                {% endif %}
            </div>
        </div>
    </div>
  
{% endblock %}