{% extends 'base.html.twig' %}

{% block title %}Library index{% endblock %}

{% block body %}
 <div class="container">
        <h2 class="text-center mt-5 mb-3">Library index</h2>
        <div class="card">
            <div class="card-header">
                <a class="btn btn-outline-primary" href="{{ path('app_library_new') }}"> 
                    Create New Project 
                </a>
            </div>
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>User</th>
                            <th>Title</th>
                            <th>Date Created</th>
                            <th>Date Updated</th>
                            <th width="240px">actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for library in libraries %}
                        <tr>
                            <td>{{ library.id }}</td>
                            <td>
                                <ul>
                                    {% for user in library.user %}
                                        {{ user.email }}
                                    {% endfor %}
                                </ul>
                            </td>
                            <td>
                                <ul>
                                    {% for item in library.item %}
                                        {{ item.title }}
                                        | {{item.media.label}} | {{item.support.label}}
                                    {% endfor %}
                                </ul>
                            </td>
                            <td>{{ library.createdAt ? library.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                            <td>{{ library.updatedAt ? library.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                            <td>

                                <form method="post" action="{{ path('app_library_delete', {'id': library.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                                <a
                                    class="btn btn-outline-info"
                                    href="{{ path('app_library_show', {'id': library.id}) }}">
                                    Show
                                </a>
                                <a
                                    class="btn btn-outline-success"
                                    href="{{ path('app_library_edit', {'id': library.id}) }}">
                                    Edit
                                </a>
  
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ library.id) }}">
                                <button class="btn btn-outline-danger">Delete</button>
                            </form>

                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="2">no records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                </table>
            </div>
        </div>
    </div>

{% endblock %}
