{% extends 'base.html.twig' %}

{% block title %}Library index{% endblock %}

{% block body %}
    <h1>Library index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>User</th>
                <th>Title</th>
                <th>Date Created</th>
                <th>Date Updated</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for library in libraries %}
            <tr>
                <td>{{ library.id }}</td>
                <td>
                    <ul>
                        {% for user in library.user %}
                            {{ user.email }}
                        {% endfor %}
                    </ul>
                </td>
                <td>
                    <ul>
                        {% for item in library.item %}
                            {{ item.title }}
                            | {{item.media.label}} | {{item.support.label}}
                        {% endfor %}
                    </ul>
                </td>
                <td>{{ library.createdAt ? library.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ library.updatedAt ? library.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_library_show', {'id': library.id}) }}">show</a>
                    <a href="{{ path('app_library_edit', {'id': library.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_library_new') }}">Create new</a>
{% endblock %}
