{% extends 'base.html.twig' %}

{% block title %}Library{% endblock %}

{% block body %}
    <div class="container">
        <h2 class="text-center mt-5 mb-3">Show Item of a Library</h2>
        <div class="card">
            <div class="card-header">
                <a class="btn btn-outline-info float-right" href="{{ path('app_library_index') }}"> 
                    View All Libraries
                </a>
            </div>
            <div class="card-body">

                <table class="table">
                    <tbody>
                        <tr>
                            <th>Id</th>
                            <td>
                                {{ library.id }}
                                    {% for user in library.user %}
                                        {{ user.email }}
                                    {% endfor %}
                                    {% for item in library.item %}
                                        {{ item.title }}
                                        | {{item.media.label}} | {{item.support.label}}
                                    {% endfor %}
                            </td>
                        </tr>
                    </tbody>
                </table>
 <a
    class="btn btn-outline-success"
    href="{{ path('app_library_edit', {'id': library.id}) }}">
    Edit
</a>
            </div>
        </div>
    </div>



{% endblock %}
