{# templates/item/_form.html.twig #}

{{ form_start(form) }}

<div class="form-group">
    {{ form_label(form.title) }}
    {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
</div>

<div class="form-group">
    {{ form_label(form.gencode) }}
    {{ form_widget(form.gencode, {'attr': {'class': 'form-control'}}) }}
</div>

<div class="form-group">
    {{ form_label(form.media) }}
    {{ form_widget(form.media, {'attr': {'class': 'form-control'}}) }}
</div>

<div class="form-group">
    {{ form_label(form.support) }}
    {{ form_widget(form.support, {'attr': {'class': 'form-control'}}) }}
</div>

<div class="form-group">
    {{ form_label(form.box) }}
    {{ form_widget(form.box, {'attr': {'class': 'form-control'}}) }}
</div>

<div class="form-group">
    {{ form_label(form.edition) }}
    {{ form_widget(form.edition, {'attr': {'class': 'form-control'}}) }}
</div>

<div class="form-group">
    {{ form_label(form.oeuvrelink) }}
    {{ form_widget(form.oeuvrelink, {'attr': {'class': 'form-control'}, 'block_prefix': 'textarea' }) }}
</div>

<div class="form-group">
    {{ form_label(form.objectlink) }}
    {{ form_widget(form.objectlink, {
        'attr': {'class': 'form-control'}, 
        'block_prefix': 'textarea',
        'value': objectLinkData
    }) }}
</div>

<button class="btn {{ button_color|default('btn-outline-primary') }}  mt-3">{{ button_label|default('Save Item') }}</button>

{{ form_end(form) }}
