{% extends 'base.html.twig' %}
  
{% block title %}All API results{% endblock %}
  
{% block body %}
    <div class="container">
        <h2 class="text-center mt-5 mb-3">All API results</h2>
        <div class="card">
            <div class="card-header">
            </div>
            <div class="card-body">
                <ul class="list-group">
                    {% for data in listData %}
                        <li class="list-group-item">
                            <input type="radio" name="selectedData" id="data_{{ data.id }}">
                            <label for="data_{{ data.id }}">
                                ID: {{ data.id }} | Title: {{ data.title }} | Gencode: {{ data.gencode }}<br>
                                <img src="{{ data.cover }}" alt="Object Cover" width="200px"><br>
                            </label>
                        </li>
                    {% endfor %}
                </ul>
           </div>
        </div>
    </div>
{% endblock %}
